/*Global*/
@import "./global/global.css";
@import "./global/logo.css";

/*Header*/
@import "./header/header.css";

/*Home*/
@import "./home/login.css";
@import "./home/home.css";

/*Utilities*/
@import "./utilidades/cor.css";
@import "./utilidades/tipografia.css";

/*Produtos*/
@import "./produto/produto.css";
@import "./produtosc/produtosc.css";

/*Pedidos*/
@import "./pedidos/pedidos.css";

/*Relatórios*/
@import "./relatorio/relatorio.css";

/*Usuarios*/
@import "./usuarios/usuarios.css";
@import "./usuarios/gerenciadorCliente.css";

/*Configurações*/
@import "./configuracoes/configuracoes.css";
