* {
  margin: 0;
  color: inherit;
}
img {
  max-width: 100%;
}
input {
  font-size: 1.5rem;
}
.titulo {
  margin: 20px;
}
.button {
  color: var(--cor-0);
  background: var(--cor-l1);
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px 30px;
  text-transform: uppercase;
  border: 0.2px solid var(--cor-l1);
}
