.home-bg {
  background: var(--cor-2);
}
.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
}
.home-container {
  display: flex;
  flex-direction: column;
  height: 196px;
  width: 400px;
  border: 3px solid orange;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: var(--cor-3);
}
.home-container div {
  display: flex;
  justify-content: space-between;
}
.titulo {
  margin: 20px;
  text-align: center;
}
/* Media Queries para telas menores */
@media (max-width: 1366px) {
}
@media (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;
  }

  .home-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header-titulo {
    font-size: 1.2rem;
    text-align: center;
  }

  .home-container {
    padding: 10px;
    font-size: 0.9rem;
  }

  .home-container div img {
    width: 24px;
    height: 24px;
  }

  .titulo {
    font-size: 1.5rem;
  }
}
