.login-bd {
  background: var(--cor-l1);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  place-items: center;
}
.login {
  background: var(--cor-l0);
  height: 520px;
  width: 300px;
  border-radius: 30px;
  place-items: center;
  text-align: center;
}
.login-email {
  border-radius: 10px;
  border: 3px solid var(--cor-l2);
  width: 240px;
  height: 34px;
}
.login-escopo {
  padding-top: 40px;
}
.login-texto {
  text-align: left;
  margin-left: 30px;
  display: block;
}
.login-button {
  align-items: center;
}
button:hover {
  color: var(--cor-l1);
  background: var(--cor-1);
  border: 0.2px solid var(--cor-l1);
}
.button-text {
  color: var(--cor-l1);
  text-decoration: none;
}
