.produtos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.produtos img {
  display: block;
}
.produtos-container {
  border: 3px solid orange;
  padding: 30px;
  height: 470px;
  width: 400px;
  border-radius: 10px;
  background: var(--cor-3);
  margin-right: 200px;
}
.produtos-cadastrados {
  list-style: none;
}
.produtos-cadastrados li {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.produtos-descricao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1340px) {
  .font-1-xxl {
    font: 600 2rem/1.25 "Poppins", sans-serif;
  }
}
@media (max-width: 1290px) {
  .produtos-container {
    width: auto;
  }
}
@media (max-width: 1226px) {
  .font-2-l {
    font: 400 1rem/1.5 "Poppins", sans-serif;
  }
  h2 {
    color: var(--cor-16);
  }
  p {
    color: var(--cor-l2);
  }
}
